<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loan Report</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="my-5 page" size="A4">
        <div class="col-md-4">
            <div class="card-group w-100 mx-auto d-block"> 
                <h2 style="color:red; text-align: center;">{{staff.company.company_name}}</h2>
            <h4 style="text-align: center;">Bank Report</h4>
            <h5 style="text-align: center;">
                <span id="s1date" style="color:black; text-align: center;">{{sdate}}</span>
                <span id="e1date" style="color:black; text-align: center;">{{edate}}</span></h5>
            

            </div>
        </div>
       
        <table class="table1 table-bordered" style="border-color: black;">
            <tbody>
                <tr style="font-weight: bolder">
                    <td></td>
                    <td></td>
                   
                </tr>
                <tr>
                    <td>
                       
                        <p class="address" style="font-weight: bold;color: #000;"> 
                            {{cmp.address}}<br>
                            {{ staff.company.address }} <br>
                            {{staff.company.city}},
                            {{staff.company.state}}
                            {{staff.company.pincode}} <br>
                            {{ staff.company.user.email }} <br>
                            {{ staff.company.contact }} 
                        </p>
                    </td>
                    <td></td>
                   
                </tr>
            </tbody>
        </table>
        <br><br>
        <!-- <div class="row mt-7" style="width: auto;" >
            <div class="d-flex">
                <div class="bg-success  p-3 m-3  mr-3 ml-3 fs-3" style="border-radius: 20px;">
                    <p style="margin-bottom: 5px;">Totla Loan </p>
                    <p style="font-size:large;"> <span id="paidval">{{loan}}</span></p>
                </div>
                <div class="text-dark pt-5" >
                    <i class="fa fa-minus border-dark " aria-hidden="true" style="color: black;"></i>
                </div>
                <div class="bg-warning  p-3 m-3  mr-3 ml-3  fs-3" style="border-radius:20px;">
                    <p style="margin-bottom: 5px;"> EMI Paid</p>
                    <p style="font-size:large;"><span id="unpaidval">{{emi}}</span></p>
                </div>
                <div class="text-dark pt-5">
                    <i class="fa-solid fa fa-equals" style="color: black;"></i>
                </div>
                <div class="bg-secondary p-3 m-3 mr-3 ml-3  fs-3" style="border-radius:20px;">
                    <p style="margin-bottom: 5px;"> Total Blance</p>
                    <p style="font-size:large;">  <span id="totalval">{{balance}}</span></p>
                </div>
            </div>
        </div> -->

        <table style="text-align: center;">
            <thead style="text-align: center; color:blue;">
                <th>DATE</th>
                <th>WITHDRAW</th>
                <th>DEPOSIT</th>
                <th>BALANCE</th>
            </thead>
            <tbody>
                {% for i in Transactions %}
                <tr>
                  <td>{{ i.date|date:'Y-m-d' }}</td>
                  <td>{{ i.withdraw|floatformat:'1' }}</td>
                  <td>{{ i.deposit|floatformat:'1' }}</td>
                  <td>{{ i.current_bank_balance|floatformat:'2' }}</td>
                </tr>
                {% endfor %}  
            </tbody>
            
        </table>
    <div>
       
    </div>
    <section>
        <div class="row container-fluid  p-2 m-0" style="margin-top: 4rem;">
            <div class="col-md-6 col-sm-6 m-0 p-0"><label style="color: #000;"><b>Authorized
                        Signature</b></label><span class="text-dark">_____________________</span></div>
            <!-- <div class="col-sm-4 m-0 p-0 text-dark">________________________</div> -->
            <div class="col-md-6 col-sm-6 m-0 p-0"></div>
        </div>
    </section>
</div>
</body>
</html>