{% extends 'company/src/html/base.html' %}
{% block content %}
{% load social_share %}
{% load static %}
<style>
  .page-content{
    overflow: hidden;
    width: 100%;
    /* Prevent scrolling */
    margin: 0 auto; /* Center the container horizontally */
}


</style>

<div class="page-content" >
    
  

    <div class="card radius-15" style="margin-top:5% ;">
      <div class="d-flex justify-content-end">
        <div class="ml-auto">
            <a href="{% url 'view_cashinhand' %}" style="font-size: x-large; color: black;" title="Close">
                <i class="fa fa-times-circle fs-6 tb close_pad mt-4 "  aria-hidden="true" ></i>
            </a>
        </div>
      </div>
      <div class="card-body" >
        
        <div class="row">
          <div class="col-12 d-flex justify-content-end">
            <!-- <div class="filter">
              <div class="form-inline">
                <input type="date" name="start_date" id="startDate" class="form-control form-control-sm mr-1" required>
                TO
                <input type="date" name="end_date" id="endDate" class="form-control form-control-sm ml-1" required>
                <button class="btn btn-sm btn-outline-secondary ml-2" type="button" onclick="filterTableByDate()">Filter</button>
              </div>
            </div> -->
            <div class="graph_period">
              <label for="">Cash Flow Period</label>
              <select name="graph_period" id="graphPeriod" class="form-control form-control-sm">
                <option value="">Choose Period</option>
                <option value="Month Wise Inflow & Outflow">Month Wise Inflow & Outflow</option>
                <option value="Year Wise Inflow & Outflow">Year Wise Inflow & Outflow</option>
              </select>
            </div>
          </div>
        </div>
        <div class="container-fluid">
          <div class="pt-4 px-4">
            <div class="row d-flex justify-content-center">
                <div class="col-10 col-md-8">
                    <div class="text-center rounded p-4">
                        <div class="d-flex align-items-center justify-content-start mb-4">
                            <h6 class="mb-0">Cash Inflow & Cash Outflow</h6>
                        </div>
                        <canvas id="cash_inflow_outflow" width="400" height="200"></canvas>
                        <span>{% if period == 'month' %}Month Wise Inflow & Outflow - {% now 'Y' %}{% else %}Last 10 Year Inflow & Outflow{% endif %}</span>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
 
<script>
  $(document).ready(function(){
    var Period = '{{period}}'
    if(Period == 'month'){
      $('#graphPeriod').val('Month Wise Inflow & Outflow')
    }
    if(Period == 'year_wise'){
      $('#graphPeriod').val('Year Wise Inflow & Outflow')
    }
  })
  $('#graphPeriod').on('change',function(){
    var Period = $(this).val();
    if(Period != ""){
      if(Period === 'Month Wise Inflow & Outflow'){
        window.location.href=`{% url 'cashInHandGraph' 'month' %}`
      }else{
        window.location.href=`{% url 'cashInHandGraph' 'year_wise' %}`
      }
    }else{
      alert('Please choose a period.!')
      return
    }
  })
  $(document).ready(function(){
      var date1 = "";
      $('#startDate').on('change',function(){
          date1 = $(this).val()
          $('#endDate').prop('min',date1)
      })
  })
  $(document).ready(function(){
      var date2 = "";
      $('#endDate').on('change',function(){
          date2 = $(this).val()
          $('#startDate').prop('max',date2)
      })
  })
  
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>

<script>
  (function($) {
      "use strict";
      Chart.defaults.color = "black";
      Chart.defaults.borderColor = "lightgrey";
      var ctx = document.getElementById('cash_inflow_outflow').getContext('2d');
      var myChart = new Chart(ctx, {
          type: 'bar',
          data: {
              labels: JSON.parse('{{ label|safe }}'),
              datasets: [{
                  label: 'Cash In',
                  data: JSON.parse('{{ cashIn|safe }}'),
                  backgroundColor:'rgba(75, 192, 192, 1)'
              },
              {
                  label: 'Cash Out',
                  data: JSON.parse('{{ cashOut|safe }}'),
                  backgroundColor:'rgb(48, 160, 160)'
              }]
          },
          options: {
              responsive: true,
              plugins: {
                  legend: {
                      label: {
                          color: 'black' // Set label color to black
                      }
                     

                  }
              }
          }
      });
  })(jQuery);
  </script>
  
{% endblock %}