
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://unpkg.com/htmx.org@1.9.6" integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://unpkg.com/xlsx@0.15.1/dist/xlsx.full.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script> -->

</head>
<body>
    





    

            <div class="container" >
                
                <div class="row">
                    <center>
                        <h1>{{company.company_name}}</h1>
                        <h2>Stock Report</h2>
                        {% if start_date  or  end_date %}  
                            
                            
                            <h4> {{start_date}} to {{end_date}}</h4>
                        {% endif %}
                    
                    </center>
                </div>   
                <div class="container-fluid table-responsive-md" id="tableDiv">
                    <table class="table mt-4" id="tableStock" style="border: 1px solid gray; margin-top: 10px; padding: 3px;">
                        <thead>
                            <tr class="text-center mt-5">
                                <th>SERIAL NUMBER</th>
                                <th>ITEM NAME</th>
                                <th>SALES PRICE</th>
                                <th>PURCHASE PRICE</th>
                                <th>STOCK QUANTITY</th>
                                <th>STOCK VALUE</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in stocklist %}
                                <tr style="color: black; padding: 5px;">
                                    <td>{{ item.serial_number }}</td>
                                    <td>{{ item.item_name }}</td>
                                    <td>{{ item.sales_price }}</td>
                                    <td>{{ item.purchase_price }}</td>
                                    <td>{{ item.stock_quantity }}</td>
                                    <td>{{ item.stock_value }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <br>
                    <h3>Total Items: <b id="itemCount" class="ml-2">{{ stockCount }}</b></h3>
                </div>
            </div>
                      
                
    
      


</body>
</html>