<!-- create by athul -->
<!--updated by Nithya-->

{% extends 'company/src/html/base.html' %}
{% load social_share %}
{% block content %}
{% load static %}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://unpkg.com/htmx.org@1.9.6"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.0/xlsx.full.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.3/html2pdf.bundle.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

{% load my_extras %}

<style>
    .bs{
        box-shadow: 2px 2px 10px 3px rgba(0, 0, 0, 0.397);
    }
    .bs_sm{
        box-shadow: inset 2px 2px 5px 3px rgba(0, 0, 0, 0.199);
    }
    .tb{
        color: black;
    }
    .tg{
        color: rgb(0, 140, 7);
    }
    .tr{
        color: rgb(218, 0, 0);
    }
    .btn_add{
        background-color: orange;
        color: black;
    }
    .btn_add:hover{
        background-color: rgb(234, 152, 0);
        color: black;
    }
    ::-webkit-scrollbar{
        display: none
    }
    .bg-pink{
        background-color: rgb(239, 3, 82)
    }
    table {
        width: 100%;
        border-collapse: collapse;
    }

    th, td {
        padding: 3px;
        text-align: center;
        /* border: 1px solid #ddd; */
    }

    th.extra {
        position: relative;
        
    }
   

    th.extra span {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    /* .extra{
            display: none;
        } */
    #myDropdown {
        display: none;
    }

    #myDropdown.show {
        display: block;
    }
    #templates, #slip{
        cursor: pointer;
    }

    #myDropdown {
        display: none;
        position: absolute;
        box-shadow: 2px 2px 10px 3px rgba(0, 0, 0, 0.397);
        background-color: #f9f9f9;
        min-width: 160px;
        /* box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); */
        z-index: 1;
    }

    #myDropdown  a {
        display: block;
        padding: 12px 16px;
        text-decoration: none;
        color: #333;
    }

    #myDropdown  a:hover {
        background-color: #ddd;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        border-radius: 5px;
        padding: 15px;
        z-index: 1;
        width: 25%;
    }

    .dropdown-content label {
        display: block;
        margin-bottom: 5px;
    }

    .dropdown-content input {
        width: 100%;
        padding: 5px;
        box-sizing: border-box;
        margin-bottom: 10px;
    }

    .sticky-header thead {
        position: sticky;
        top: 0;
        background-color: #3498db; /* Add your desired background color */
        color: #fff; /* Add your desired text color */
        z-index: 1; 
    }
    .sticky-header1 {
        position: sticky;
        top: 0;
        z-index: 1; /* Ensures the sticky header stays above other content */
        background-color: #f2f2f2;
    }

</style>
{% if Party %}


<div class="body-wrapper">
    <br><br><br>
    <div class="row p-0 m-0">
        <div class="col-12  p-0 m-0">
            <div class=" bg-light bg-light bs pb-0 mb-0"style="height:100%;width:100%">
                <div class="d-flex justify-content-center pt-4">
                    <a href="{% url 'add_salesinvoice' %}"  id="b1" class="btn  text-white" style="margin-right: 10px; background-color: rgb(252, 3, 3,0.7);border-radius: 20px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">Add Sale  <i class="fa fa-plus"></i></a>
                    <a href="{% url 'add_purchasebill' %}" id="b2" class="btn  text-white" style="margin-right: 10px;background-color: rgba(3, 161, 252, 0.7);border-radius: 20px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">Add Purchase  <i class="fa fa-plus"></i></a>
                    <a href="" id="b3" class="btn text-primary" style="border-radius: 20px;border: 1px solid rgb(40, 12, 222);background-color: white;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">Add More  <i class="fa fa-plus"></i></a>
                </div>
                <p></p>
                <hr class="p-0 m-0">
            </div>
        </div>
    </div>
    <br>

    <div class="row ps-3 pe-3 m-0">
        <div class="col-sm-12 col-lg-3  ps-2 pe-3 pb-2" style="height: 100%;">
            <div class="card bg-light bs" style="height:100%;">
                <div class="row m-0">
                    <div class="col-12 p-1 bs justify-content-center pe-3" style="z-index:2; ">
                        <div class="d-flex justify-content-center">
                            <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#importModal">
                                Open Import Modal
                            </button> -->
                            <button class="btn btn-sm" type="button" data-toggle="modal" data-target="#importModal">
                                <span><img width="25px" src="{% static 'images/import.png' %}" alt="no img" class="bg-info"></span> &nbsp;
                                <span style="color: black; font-size: small; font-weight: bold;" class="text-dark">IMPORT PARTY</span>
                            </button> 
                        </div>
                    </div>
                </div>
                 <div class="row m-0">
                    <div class="col-12 p-4 pt-3" style="z-index:2">
                        <form action="" method="post">
                            {% csrf_token %}
                        
                            <div class="d-flex justify-content-between">
                                <span id="search_item" class="fa fa-search tb bg-info text-light ms-2 mt-1" style="border-radius: 50%;padding: 0.77rem;"></span>
                                <a id="add_party_btn" class="btn btn-sm rounded p-2 mt-1 btn_add" href="{% url 'add_parties' %}" style="font-weight: bold;"><span class="fa fa-plus"></span> Add Party</a>
                            </div>
                            
                            <div class="position-relative">
                                <div class="position-absolute end-0" style="margin-top:0.5rem;margin-right:0.7rem">
                                    <span hidden id="close_seacrh" class="fa fa-times fs-4 tr"></span>
                              
                                </div>
                            </div>
                        
                            <input hidden id="search_party_input" class="form-control border-dark text-dark" type="text" placeholder="search here.." name="searching_item"/>
                            
                        </form>
                    </div>
                    <div class="ps-3 pe-3">
                        <hr class="p-0 m-0">
                    </div>
                    <div class="col-12 p-3 pt-0">
                        {% if Party %}
                        <div id="item_search_filter_target">
                            <form action="" method="post">
                                {% csrf_token %}
                                <div style="overflow: auto;height: 42rem;">
                                    <table class="table w-100 table-light table-striped table-hover sticky-header bg-light">
                                        <thead class="bg-primary">
                                            <th class="text-start fs-2 tb">PARTY</th>
                                            <th class="text-start fs-2 tb" colspan="2">AMOUNT</th>
                                        </thead>
                                        <tbody>
                                            {% for i in Party %}
                                            <tr class="item_lists_hide ">
                                                <td style="cursor:pointer" class="text-start fs-2 fw-bold text-dark clickable-row" data-href="{% url 'view_parties' i.id %}">
                                                    <a href="{% url 'view_parties' i.id %}" class="my-3">
                                                        {{ i.party_name|capfirst }}
                                                    </a>
                                                </td>
                                              
                                                <td class="text-end fs-2 fw-bolder clickable-row px-0 mx-0" style="white-space: nowrap;"   data-href="{% url 'view_parties' i.id %}">
                                                    <a href="{% url 'view_parties' i.id %}" class="my-3 mx-0 p-0 ">
                                                        {% if i.payment == 'To Pay' %}
                                                        <span style="border: none; color: red; ">{{ i.current_balance }}</span>
                                                        {% elif i.payment == 'To Receive' %}
                                                        <span style="border: none; color: green; ">{{ i.current_balance }}</span>
                                                        {% else %}
                                                        <span style="border: none; color: black; ">{{ i.current_balance }}</span>
                                                        {% endif %}
                                                    </a>
                                                </td>
                                                <td class="px-0 mx-0">
                                                    <div class="btn-group mb-1 m-0 p-0">
                                                        <button style="border: none;background: none;" type="button" class=" dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                                                            <span class="fa fa-ellipsis-v text-dark fs-1 ps-2 p-0"></span>
                                                        </button>
                                                        
                                                        <ul class="dropdown-menu">
                                                            <li><a class="dropdown-item fw-bold tb hide_table_text_v" href="{% url 'edit_party' i.id %}"><span class="fa fa-eye pe-2 tg"></span> View / Edit</a></li>
                                                            <li><a class="dropdown-item fw-bold tb hide_table_text_d"  href="{% url 'deleteparty' i.id %}"><span class="fa fa-trash-alt tr" style="padding-inline-start: 0.1rem;padding-inline-end:0.7rem ;"></span> Delete</a></li>
                                                        </ul>
                                                    </div>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </form>
                        </div>
                        {% else %}
                        <div class="text-center mt-2">
                            <small>Currently no party  available</small>
                        </div>
                        {% endif %}
                    </div>
                   
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-lg-9  ps-2 pe-3 d-flex flex-column" style="height: 100%;">
            <div id="item_get_detail_target">
                <div class="row m-0" style="height:20%">
                    {% for message in messages %}
                        <div class="alert alert-danger text-center" role="alert">{{ message }}</div>
                    {% endfor %}
                    <div class="card bg-light bs p-3 mb-3">
                        <div class="d-flex justify-content-between">
                            <p class="tb fw-bolder fs-4">{{ getparty.party_name|upper }} </p>
                        </div>
                        <p></p>
                        <div class="d-flex justify-content-between">
                            <p class="tb fw-bolder fs-2">PHONE:  <span class="ps-2 tg">
                                {% if getparty.contact %}
                                    <label for="" style="color: #000000; ">{{ getparty.contact }}</label>
                                {% else %}
                                <a href="{% url 'edit_party' getparty.id %}"><i class="fa fa-phone "></i>&nbsp;&nbsp;Add
                                    Contact</a>
                                {% endif %}</span>
                            </p>
                            <p class="tb fw-bolder fs-2">ADDRESS:  <span class="ps-2 tg">
                                {% if getparty.address %}
                                <label for="" style="color: #000000; ">{{ getparty.address }}</label>
                                {% else %}
                                <a href="{% url 'edit_party' getparty.id %}"><i class="fa fa-map-marker"></i>&nbsp;&nbsp;Add Address</a>
                                {% endif %}</span>
                            </p>
                        </div>
                        <div class="d-flex justify-content-between">
                            <p class="tb fw-bolder fs-2">EMAIL:  <span class="ps-2 tg">
                                {% if getparty.email %}
                                <label for="" style="color: #000000; ">{{ getparty.email}}</label>
                                {% else %}
                                <a href="{% url 'edit_party' getparty.id %}"><i class="fa fa-envelope"></i>&nbsp;&nbsp;Add Email</a>
                                {% endif %}</span>
                            </p>
                            <p class="tb fw-bolder fs-2">GSTIN:  <span class="ps-2 tg">
                                {% if getparty.gst_no %}
                                    {% if getparty.gst_no is not null %}
                                        <label for="" style="color: #000000; ">{{ getparty.gst_no}}</label>
                                    {% endif %}
                                {% else %}
                                <a href="{% url 'edit_party' getparty.id %}"><i class="fa fa-barcode "></i>&nbsp;&nbsp;Add
                                    Gstin</a>
                                {% endif %}
                            </span></p>
                        </div>
                        <div class="d-flex justify-content-between">
                            <p class="tb fw-bolder fs-2">CREDIT LIMIT:  <span class="ps-2 tg">
                                {% if getparty.creditlimit %}
                                <label for="" style="color: #000000; ">{{ getparty.creditlimit}}</label>
                                {% else %}
                                <a href="{% url 'edit_party' getparty.id %}" ><i
                                        class="fas fa-rupee-sign "></i>&nbsp;&nbsp;Set Credit Limit</a>
                                {% endif %}</span></p>
                            <p class="tb fw-bolder fs-2" >BALANCE:  <span class="ps-2 tg" style="color: {% if getparty.payment == 'To Pay' %}red{% elif getparty.payment == 'To Receive' %}green{% else %}black{% endif %};">
                                {{ getparty.current_balance}}
                            </span></p>
                        </div>
                    </div>
                </div>
                <div class="row pt-0 m-0" >
                    <div class="card p-0 bg-light bs">
                        <div class="row m-0 p-0 pt-3 ">
                            <div class="col-sm-12 col-lg-5">
                                <p class="tb fw-bolder pt-2">TRANSACTIONS</p>
                                <div class="position-relative">
                                    <div class="position-absolute removefields" style="margin-top:0.4rem;margin-left: 0.5rem;">
                                        <span class="fa fa-search fs-5 text-info"></span>
                                    </div>
                                </div>
                                <input id="search_input1" style="padding-inline-start: 2rem;" class="w-100 border-secondary text-dark pt-1 pb-1 pe-1 rounded removefields" type="text" placeholder=" search here..">

                            </div>

                            <div class="col-sm-12 col-lg-3 removefields">
                            </div>
                            
                            <div class="col-sm-12 col-lg-4 pt-1 removefields">
                                <div class="d-flex">
                                    <button class="btn p-0 ps-2 pe-2 ms-2" type="button" onclick="toggleDropdown()">
                                        <span>
                                            <img width="25px" src="{% static 'images/shareimg.png' %}" alt="no img"><br>
                                            <span style="font-size: 10px;"><strong>SHARE</strong></span>
                                        </span>
                                        
                                    </button>
                                    <button class="btn p-0 ps-2 pe-2 ms-2" type="button" onclick="exportToExcel()">
                                        <span >
                                            <img width="25px" src="{% static 'assets/excel2.png' %}" alt="no img"><br><span style="font-size: 10px;"><strong>EXPORT</strong></span></em>
                                        </span>
                                    </button>
                                    <button class="btn p-0 ps-2 pe-2 ms-2" type="button" id="pdflink">
                                        <span >
                                            <img width="20px" src="{% static 'images/pdfdownload.png' %}" alt="no img"><br><span style="font-size: 10px;"><strong>PDF</strong></span></em>
                                        </span>
                                    </button>

                                    <button class="btn p-0 ps-2 pe-2 ms-2" type="button" onclick="printfunction()">
                                        <span><img width="25px" src="{% static 'images/printer.jpeg' %}" alt="no img"><br><span style="font-size: 10px;"><strong>PRINT</strong></span></span>
                                        <!-- <br><span style="color: black; font-size: small; font-weight: bold;">Print</span> -->
                                    </button>
                                </div>
                                <div class="dropdown-content" id="myDropdown" style="z-index:10000;">
                                    <ul style="margin-bottom: -1px;">{% post_to_whatsapp object_or_url "WhatsApp" %}</ul>
                                    <ul style="margin-bottom: -1px;"><a data-toggle="modal" data-target="#emailModal">Email</a></ul>
                                </div>
                            </div>
                            <div class="mt-3 col-sm-12 col-lg-12 pt-1" style="overflow: scroll;height: 31rem;">
                                <table id="myTable" class="table table-bordered table-info table-striped tb table-responsive w-100">
                                   
                                    <thead fs-1 tb class="sticky-header1">
                                        <tr class="fs-2 tb">
                                            <th class="bg-secondary text-dark align-middle px-1 removefields"  style="white-space: nowrap;">
                                                # 
                                            </th>
                                            <th class="bg-secondary text-dark align-middle px-1"  style="white-space: nowrap;">
                                                TYPE
                                                <a class="extra text-dark removefields" onclick="filterDropdown(1)">&nbsp;<i class="fa fa-filter" aria-hidden="true"></i></a>
                                                <div class="dropdown-content removefields" id="dropdownContent1">
                                                    <label for="filterInput1" style="color: black; text-align: left;">Equal To</label>
                                                    <input type="text" id="filterInput1"  /><br>
                                                    <a class="btn btn-info" onclick="cleardropdown(1)">Clear</a> 
                                                    &nbsp;<a class="btn btn-info" onclick="filterTable(1)">Apply</a>
                                                </div>
                                            </th>
                                            <th class="bg-secondary text-dark align-middle px-1 "  style="white-space: nowrap;">
                                                NUMBER
                                                <a class="extra text-dark removefields" onclick="filterDropdown(2)">&nbsp;<i class="fa fa-filter" aria-hidden="true"></i></a>
                                                <div class="dropdown-content removefields" id="dropdownContent2">
                                                    <label for="filterInput2" style="color: black; text-align: left;">Equal To</label>
                                                    <input type="text" id="filterInput2"  /><br>
                                                    <a class="btn btn-info" onclick="cleardropdown(2)">Clear</a> 
                                                    &nbsp;<a class="btn btn-info" onclick="filterTable(2)">Apply</a>
                                                </div>
                                            </th>
                                            <th class="bg-secondary text-dark align-middle px-1"  style="white-space: nowrap;">
                                                DATE
                                                <a class="extra text-dark removefields" onclick="filterDropdown(3)">&nbsp;<i class="fa fa-filter" aria-hidden="true"></i></a>
                                                <div class="dropdown-content removefields" id="dropdownContent3">
                                                    <label for="filterInput3" style="color: black; text-align: left;">Equal To</label>
                                                    <input type="date" id="filterInput3"  /><br>
                                                    <a class="btn btn-info" onclick="cleardropdown(3)">Clear</a> 
                                                    &nbsp;<a class="btn btn-info" onclick="filterTable(3)">Apply</a>
                                                </div>
                                            </th>
                                            <th class="bg-secondary text-dark align-middle px-1"  style="white-space: nowrap;">
                                                TOTAL
                                                <a class="extra text-dark removefields" onclick="filterDropdown(4)">&nbsp;<i class="fa fa-filter" aria-hidden="true"></i></a>
                                                <div class="dropdown-content removefields" id="dropdownContent4">
                                                    <label for="filterInput4" style="color: black; text-align: left;">Equal To</label>
                                                    <input type="text" id="filterInput4"  /><br>
                                                    <a class="btn btn-info" onclick="cleardropdown(4)">Clear</a> 
                                                    &nbsp;<a class="btn btn-info" onclick="filterTable(4)">Apply</a>
                                                </div>
                                            </th>
                                            <th class="bg-secondary text-dark align-middle px-1"  style="white-space: nowrap;">
                                                BALANCE
                                                <a class="extra text-dark removefields" onclick="filterDropdown(5)">&nbsp;<i class="fa fa-filter" aria-hidden="true"></i></a>
                                                <div class="dropdown-content removefields" id="dropdownContent5">
                                                    <label for="filterInput5" style="color: black; text-align: left;">Equal To</label>
                                                    <input type="text" id="filterInput5" /><br>
                                                    <a class="btn btn-info" onclick="cleardropdown(5)">Clear</a> 
                                                    &nbsp;<a class="btn btn-info" onclick="filterTable(5)">Apply</a>
                                                </div>
                                            </th>
                                            
                                            <th class="bg-secondary text-dark align-middle px-1"  style="white-space: nowrap;">
                                                ACTION
                                                &nbsp; <a class="extra text-dark removefields" onclick="filterDropdown(6)"><i class="fa fa-filter" aria-hidden="true"></i></a>
                                                <div class="dropdown-content removefields" id="dropdownContent6">
                                                    <label for="filterInput6" style="color: black; text-align: left;">Equal To</label>
                                                    <input type="text" id="filterInput6" /><br>
                                                    <a class="btn btn-info" onclick="cleardropdown(6)">Clear</a> 
                                                    &nbsp;<a class="btn btn-info" onclick="filterTable(6)">Apply</a>
                                                </div>
                                            </th>
                                            <th class="bg-secondary text-dark align-middle px-1"  style="white-space: nowrap;">
                                                BY
                                                &nbsp; <a class="extra text-dark removefields onclick="filterDropdown(7)"><i class="fa fa-filter" aria-hidden="true"></i></a>
                                                <div class="dropdown-content removefields" id="dropdownContent7">
                                                    <label for="filterInput7" style="color: black; text-align: left;">Equal To</label>
                                                    <input type="text" id="filterInput7" /><br>
                                                    <a class="btn btn-info" onclick="cleardropdown(7)">Clear</a> 
                                                    &nbsp;<a class="btn btn-info" onclick="filterTable(7)">Apply</a>
                                                </div>
                                            </th>
                                            <th class="bg-secondary text-dark align-middle px-1 removefields"></th>
                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr {% if getparty.openingbalance == 0 %} hidden{% endif %}>
                                            <td class= "hide_table_text_in removefields" style="font-size: 20px; color: {% if getparty.payment == 'To Pay' %}red{% elif getparty.payment == 'To Receive' %}green{% else %}black{% endif %}; vertical-align: middle;">&#8226;</td>
                                            <td class="text-center  px-0">{% if getparty.payment == 'To Pay' %} Payable Opening Balance {% elif getparty.payment == 'To Receive' %} Receivable Opening Balance{% else %} Opening Balance{% endif %}</td>
                                            <td class="text-center  px-0" style="white-space: nowrap;"></td>
                                            <td class="text-center  px-0" style="white-space: nowrap;">{{ getparty.current_date|date:"d-m-Y" }}</td>
                                            <td class="text-center  px-0" style="white-space: nowrap;">₹ {{ getparty.openingbalance }}</td>
                                            <td class="text-center  px-0" style="white-space: nowrap;">₹ {{ getparty.current_balance }}</td>
                                            <td class="text-center  px-0" style="white-space: nowrap;">{{ party_history.action }}</td>
                                            <td class="text-center  px-0" style="white-space: nowrap;">{{ party_history.staff__first_name }} {{ party_history.staff__last_name }}</td>
                                            <td class="px-0 pt-3 m-0 text-center removefields " style="white-space: nowrap;">
                                                <div class="btn-group mb-1">
                                                    <button style="border: none;background: none;" type="button" class="ropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                                                        <span class="fa fa-ellipsis-v text-dark fs-1 ps-"></span>
                                                    </button>
                                                    <ul class="dropdown-menu">
                                                        <li><a class="dropdown-item fw-bold tb hide_table_text_v" href="{% url 'edit_party' getparty.id %}"><span class="fa fa-eye pe-2 tg"></span> View / Edit</a></li>
                                                        <li><a class="dropdown-item fw-bold tb hide_table_text_v" href="{% url 'party_histories' getparty.id %}"><span class="fa fa-history pe-2 th"></span> History</a></li>
                                                        <li><a class="dropdown-item fw-bold tb hide_table_text_d"  href="{% url 'deleteparty' getparty.id %}"><span class="fa fa-trash-alt tr" style="padding-inline-start: 0.1rem;padding-inline-end:0.7rem ;"></span> Delete</a></li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% else %}
<div class="body-wrapper ">
    <br><br>

<div class="p-5 text-center" style="display: flex;justify-content: center;" id="default">
    <div class="card"
        style="background-color: white;width:60rem;box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.249);">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <img height="500vw" src="{% static 'images/party.jpg' %}" id="img" class="card-img" alt="no img" style="border-radius: 10px 0px 0px 10px;">
            </div>
            <div class="col-sm-12 col-md-6 ps-3 pe-4">
                <div class="p-1 rounded" style="border: 1px solid rgba(0, 0, 0, 0);border-bottom: none;">
                    <p style="margin-bottom: 4rem;"></p>
                    <div class="d-flex" style="padding-left: 130px;">
                        <img src="{% static 'assets/images/logos/favicon.png' %}"  width="30" height="30" alt="" />
                        <h3 style="font-family: 'Times New Roman', Times, serif; "><b class="p-3">VYAPAR</b></h3>
                    </div>
                    <p style="margin-bottom: 0.5rem;"></p>
                    <p class="card-text p-5" id="text" style=" text-align: justify;font-family: 'Times New Roman', Times, serif;font-weight: bold;font-size: 16px;">Welcome to vyapar, We're committed to providing a seamless and secure
                        online marketplace for buyers and sellers. Our platform offers a range of features.</p>
                    <h5 style="color: rgb(48, 111, 56);font-weight: bold;font-family: 'Times New Roman', Times, serif;" class="card-text">Please Add Your First Party Here</h5>
                    <p class="mt-4"></p>
                    <a class="btn btn-lg btn-primary btn-gradient" style="font-weight: bold; font-size: 15px ;" href="{% url 'add_parties' %}">ADD PARTY</a>
                    <p style="margin-bottom: 4rem;"></p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

{% endif %}

<!-- import modal -->

<div class="modal fade" id="importModal" tabindex="-1" role="dialog" aria-labelledby="importModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="importModalLabel">IMPORT PARTY</h5>
                <button type="button" class="btn close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" style="font-size: large;">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="{% url 'import_parties' %}" enctype="multipart/form-data" id="excelForm" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="" style="color: red; font-size: x-small;">* Refer Downloaded Excel Work Sheet for Values and Fields 
                        Details</label><br>
                        <a href="{% url 'downloadPartySampleImportFile' %}" id="downloadExcelLink">Download Sample Template Here</a><br><br>

                        <input type="file" class="form-control-file" id="partyfile" name="partyfile" accept=".xls, .xlsx" /><br><br>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Upload</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/pdf-lib@1.14.0/dist/pdf-lib.js"></script>

<script>
   
    function exportToExcel() {
        $('.hide_table_text_v').text('');
        $('.hide_table_text_d').text('');
        $('.hide_table_text_i').text('');
        $('.hide_table_text_in').text('');

        // Create a copy of the table for export and remove unwanted columns
        const originalTable = document.getElementById('myTable');
        const exportTable = originalTable.cloneNode(true);

        const headerRow = exportTable.querySelector('thead tr');
        const columnsToRemove = ["#"];
        

        for (let i = 0; i < columnsToRemove.length; i++) {
            const columnIndex = Array.from(headerRow.children).findIndex(cell => cell.innerText.trim() === columnsToRemove[i]);
            if (columnIndex !== -1) {
                headerRow.children[columnIndex].remove();
                for (const row of exportTable.querySelectorAll('tbody tr')) {
                    row.children[columnIndex].remove();
                }
            }
        }

        const dropdownContents = exportTable.querySelectorAll('.dropdown-content');
        dropdownContents.forEach(content => content.remove());

        // Remove filter icons
        const filterIcons = exportTable.querySelectorAll('.fa-filter');
        filterIcons.forEach(icon => icon.remove());

        // Export the modified table to Excel
        const wb = XLSX.utils.table_to_book(exportTable, { sheet: "Party Details" });
        XLSX.writeFile(wb, "Party Name - {{ getparty.party_name }}.xlsx");

        // Update the displayed text
        $('.hide_table_text_v').html('<span class="fa fa-eye pe-2 tg"></span> View / Edit');
        $('.hide_table_text_d').html('<span class="fa fa-trash-alt tr" style="padding-inline-start: 0.1rem;padding-inline-end:0.7rem ;"></span> Delete');
        $('.hide_table_text_i').html('#');
        $('.hide_table_text_in').html('&#8226;');
    }


    $(document).ready(function() {
        $("#search_input1").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#myTable tbody tr").filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(value)>-1);
            });
        });
    });
    $(document).ready(function(){
        $('#search_item').click(function(){
            $(this).attr('hidden',true)
            $('#search_party_input').attr('hidden',false)
            $('#close_seacrh').attr('hidden',false)
            $('#add_party_btn').attr('hidden',true)
        })
    })
    $(document).ready(function(){
        $('#close_seacrh').click(function(){
            $('#search_party_input').val('')
            $('#search_party_input').attr('hidden',true)
            $('#search_item').attr('hidden',false)
            $('#add_party_btn').attr('hidden',false)
            $('#close_seacrh').attr('hidden',true)
        })
    })
    $(document).ready(function () {
        $("#search_party_input").on("input", function () {
            var searchQuery = $(this).val().toLowerCase();

            $(".item_lists_hide").each(function () {
                var partyName = $(this).find(".fs-2").text().toLowerCase();

                if (partyName.includes(searchQuery) || searchQuery === "") {
                    $(this).show(); // Show the row if it matches or if search input is empty
                } else {
                    $(this).hide(); // Hide the row if it doesn't match
                }
            });
        });

        // Function to handle clearing or closing the search input
        $("#close_seacrh").on("click", function () {
            $("#search_party_input").val(""); // Clear the search input
            $(".item_lists_hide").show(); // Show all parties
        });
    });
    

    // Filter data in each column
    function toggleDropdown() {
        var dropdownContent = document.getElementById("myDropdown");
        dropdownContent.classList.toggle("show");
    }

    function cleardropdown(index){
        if(index == 0){
            document.getElementById('filterInput'+index).value = '';
        }else{
            document.getElementById('filterInput'+index).value = null;
        }
    }

    function filterDropdown(index) {
        var dropdownContent = document.getElementById('dropdownContent' + index);
        var isVisible = dropdownContent.style.display === 'block';
        var allDropdowns = document.querySelectorAll('.dropdown-content');
        allDropdowns.forEach(function (dropdown) {
            dropdown.style.display = 'none';
        });
        dropdownContent.style.display = isVisible ? 'none' : 'block';
    }

    function filterTable(index) {
        var input;
        document.getElementById('dropdownContent' + index).style.display = 'none';
        if (index === 3) {
            input = document.getElementById('filterInput' + index).value;
            
        } else {
            input = document.getElementById('filterInput' + index).value.toUpperCase();
        }
        var table = document.getElementById('myTable');
        var rows = table.getElementsByTagName('tr');
        var isEmpty = true;
        for (var i = 0; i < rows.length; i++) {
            var cells = rows[i].getElementsByTagName('td');
            var cell = cells[index];
            if (cell) {
                var textValue = cell.textContent || cell.innerText;
                
                if (index === 1 | index === 2) {
                    if (textValue.toUpperCase().includes(input)) {
                        rows[i].style.display = 'table-row';
                        isEmpty = false;
                    } else {
                        rows[i].style.display = 'none';
                    }
                } else if (index === 3) {
                    if (input==''){
                        rows[i].style.display = 'table-row';
                            isEmpty = false;
                    }else{
                        dateval  = textValue.replace(/(\d{2})-(\d{2})-(\d{2})/, "$2-$1-$3");
                        inputval  = input.replace(/(\d{2})-(\d{2})-(\d{2})/, "$2-$1-$3");
                        const formattedDate = formatDateString(input);
                        if (dateval === formattedDate) {
                            rows[i].style.display = 'table-row';
                            isEmpty = false;
                        } else {
                            rows[i].style.display = 'none';
                        }
                    }
                } else if (index === 4 | index === 5 | index === 6 | index === 7) {
                    if (textValue.toUpperCase().includes(input)) {
                        rows[i].style.display = 'table-row';
                        isEmpty = false;
                    } else {
                        rows[i].style.display = 'none';
                    }
                }
            }
        }
        // emptyMessage.style.display = isEmpty ? 'block' : 'none';
        // calculatetotal()
    }
    function formatDateString(inputDate) {
        const parsedDate = new Date(inputDate);
        const day = parsedDate.getDate();
        const month = parsedDate.getMonth() + 1;
        const year = parsedDate.getFullYear();
        const formattedDate = `${month < 10 ? '0' : ''}${month}-${day < 10 ? '0' : ''}${day}-${year}`;
        return formattedDate;
    }
    
    $(document).ready(function ($) {
        $(document).on('click', '#pdflink', function (event) {
            event.preventDefault();
            var element = document.getElementById('item_get_detail_target');
            var elementClone = element.cloneNode(true);

            // Remove the specific sections from the cloned element
            var elementsToRemove = elementClone.querySelectorAll('.removefields');
            elementsToRemove.forEach(function (el) {
                el.remove();
            });
            
            var opt =
            {
                margin: 1,
                filename: 'Party - '+ '{{ getparty.party_name|upper }}' + '.pdf',
                image: { type: 'jpeg', quality: 0.98 },
                html2canvas: { scale: 2 },
                jsPDF: { unit: 'in', format: 'letter', orientation: 'portrait', }
            };
            html2pdf().set(opt).from(elementClone).save();
        });
    });


    function printfunction(){
        var element = document.getElementById('item_get_detail_target');
        var elementClone = element.cloneNode(true);

        var elementsToRemove = elementClone.querySelectorAll('.removefields');
        elementsToRemove.forEach(function (el) {
            el.remove();
        });
        var filterElements = elementClone.querySelectorAll('.fa-filter, .dropdown-content');
        filterElements.forEach(function (el) {
            el.style.display = 'none'; // Hide filter-related elements
        });
        var rows = elementClone.querySelectorAll('.table tr');
        rows.forEach(function (row) {
            var lastColumn = row.lastElementChild;
            lastColumn.parentNode.removeChild(lastColumn); // Remove last column
        });

        var printWindow = window.open('', '_blank');
        printWindow.document.write('<html><head><title>Party Details</title>');
        printWindow.document.write('<link rel="stylesheet" href="{% static "assets/css/styles.min.css" %}" />');
        printWindow.document.write('<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.bootstrap3.min.css" integrity="sha256-ze/OEYGcFbPRmvCnrSeKbRTtjG4vGLHXgOqsyLFTRjg=" crossorigin="anonymous" />');
        printWindow.document.write('<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">');
        printWindow.document.write('  <link rel="shortcut icon" type="image/png" href="{% static "assets/images/logos/favicon.png" %}" />');
        printWindow.document.write('<style>');
        printWindow.document.write(document.body.querySelector('style').innerHTML); // Copy existing styles
        printWindow.document.write('</style>');
        printWindow.document.write('</head><body>');
        printWindow.document.body.appendChild(elementClone);
        printWindow.document.write('</body></html>');
        printWindow.document.close();
            
        printWindow.print();
        
    }

    $(document).ready(function() {
        // Add click event to the rows with the "clickable-row" class
        $(".clickable-row").click(function() {
            // Get the data-href attribute value (URL)
            window.location = $(this).data("href");
        });
    });


</script>
 
{% endblock  %}
